<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdysTech.CredentialManager" version="2.3.0" targetFramework="net45" />
  <package id="CommandLineParser" version="2.8.0" targetFramework="net45" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net45" />
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="StrongNamer" version="0.2.5" targetFramework="net45" />
</packages>