<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="refresh_token" value="469966157ac10f3e7565f06ef7f0a68569fe5bf5" />
        <add key="client_id" value="36425" />
        <add key="client_secret" value="ee2979ecc9afe77bff701ed5fd5ff192632fea88" />
        <add key="output_directory" value="C:\Dropbox\Apps\tapiriik" />
        <add key="access_token" value="996e1748242e69e481ad450939766b577abc4878" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
